include ../textfield/textfield.pug
include ../counting/counting.pug
include ../button/button.pug

append styles
  link(rel="stylesheet", href="../../../components/dropdown/dropdown.scss")
append skripts__defer
  script(type='module', src="../../../components/dropdown/dropdown.js")

append mixins
  mixin dropdown(options = {}, items = [])
    -
      if (!options.items)
        options.items = [];
      items = options.items.concat(items);
      delete options.items;

      options.class = options.class ? `dropdown ${options.class}` : `dropdown `;
      const mod = options.mod ? options.mod.trim().split(/[,\s]\s*/) : [];
      options.class += options.mod ? ` dropdown-${mod.join(` dropdown-`)} ` : '';
      delete options.mod;
      options.class += options.block_class ? ` ${options.block_class} ` : '';
      const block_class = options.block_class ? `${options.block_class}` : `dropdown`;
      delete options.block_class;
      const buttons = options.buttons && options.buttons != 'false' ? true : false;
      delete options.buttons;

      const textfield_options = {
        mod: 'dropdown',
        type: 'text',
        class: 'dropdown__field',
      };
      if (options.placeholder)
        textfield_options.placeholder = options.placeholder;
      delete options.placeholder;
      if (options.value)
        textfield_options.value = options.value;
      delete options.value;
      if (options.name)
        textfield_options.name = options.name;
      delete options.name;

      const tag = buttons ? 'form' : 'label' //=''//'expand_more'

    #{tag}()&attributes(options)&attributes(attributes)
      +textfield(textfield_options)
      span.dropdown__arrow.dropdown__arrow-more
        span(class='material-icons-outlined')='expand_more'
      span.dropdown__arrow.dropdown__arrow-less
        span(class='material-icons-outlined')='expand_less'
      if items
        .dropdown__hidebele_container
          each item in items
            .dropdown__item
              +counting(item)
          if buttons
            .dropdown__buttons
              +button({type: 'reset', mod: 'hover', text: 'очистить', block_class: 'dropdown__button_reset'})
              +button({type: 'submit', mod: 'frameless', text: 'применить'})
