append styles
  link(rel="stylesheet", href="../../../components/counting/counting.scss")
append skripts__defer
  script(defer src="../../../components/counting/counting.js")

append mixins
  mixin counting(options)
    if !options
      - options = {}
    -
      var classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += options.mod ? ' counting-' + options.mod : ''

    div(class='counting font-upper', data-name=options.name ? options.name: 'item', data-count=0)
      span(class='counting__title')=(options.title ? options.title : 'items')
      span(class='counting__counter')
        span(class='counting__button counting__button-deactive counting__dec font-regular')='-'
        span(class='counting__iterator')='0'
        span(class='counting__button counting__inc font-regular')='+'