append styles
  link(rel="stylesheet", href="../../../components/counting/counting.scss")
append skripts__defer
  script(type="module" src="../../../components/counting/counting.js")

append mixins
  mixin counting(options)
    if !options
      - options = {}
    -
      let classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += options.mod ? ' counting-' + options.mod : ''

    div(class=`counting font-upper ${classes}`, data-name=options.name ? options.name: 'item', data-count=0)
      span(class='counting__title')=(options.title ? options.title : 'items')
      span(class='counting__counter')
        button(class='counting__button counting__button-deactive counting__dec font-regular')='-'
        input(class='counting__iterator', type='number', value=0)
        button(class='counting__button counting__inc font-regular')='+'