append styles
  link(rel="stylesheet", href="../../../components/counting/counting.scss")
append skripts__defer
  script(defer src="../../../components/counting/counting.js")

append mixins
  mixin counting(options)
    if !options
      - options = {}
    -
      let classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += options.mod ? ' counting-' + options.mod : ''

      var attributes = {};
      // if (options.max_count && isFinite(options.max_count) && options.max_count > 0) {
      //   attributes['data-max-count'] = Number(options.max_count);
      // }

    div(class=`counting font-upper ${classes}`, data-name=options.name ? options.name: 'item', data-count=0)&attributes(attributes)
      span(class='counting__title')=(options.title ? options.title : 'items')
      span(class='counting__counter')
        span(class='counting__button counting__button-deactive counting__dec font-regular')='-'
        span(class='counting__iterator')='0'
        span(class='counting__button counting__inc font-regular')='+'