append styles
  link(rel="stylesheet", href="../../../components/counting/counting.scss")
append skripts__defer
  script(type="module" src="../../../components/counting/counting.js")

append mixins
  mixin counting(options)
    if !options
      - options = {}
    -
      let classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += options.mod ? ' counting-' + options.mod : ''

    div(class=`counting font-upper ${classes}`)
      span(class='counting__title')=(options.title ? options.title : 'items')
      div(class='counting__counter')
        button(class='counting__button counting__dec font-regular')='-'
        input(class='counting__iterator font-upper', name=options.name ? options.name : 'item', type='number', value=0 , min=0, size=1)
        button(class='counting__button counting__inc font-regular')='+'