include ../../components/button/button.pug
append styles
  link(rel="stylesheet", href="../../../components/pagination/pagination.scss")

append mixins
  mixin pagination(options)
    if !options
      - options = {}
    -
      var classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += options.mod ? ' pagination-' + options.mod : ''

    .pagination(class=classes)
      nav(class='pagination__links')
        +button({mod:'fix_size colored arrow_left', color:'secondary', href:'#', class:'pagination__link_left'})
        +button({mod:'fix_size frameless', href:'#', text:'null', class:'pagination__link_fierst'})
        span(class='pagination__link_pre_separator')='...'
        +button({mod:'fix_size frameless', href:'#', text:'null', class:'pagination__link_prew2_this'})
        +button({mod:'fix_size frameless', href:'#', text:'null', class:'pagination__link_prew_this'})
        +button({mod:'fix_size colored', href:'#', text:'1', class:'pagination__link_this'})
        +button({mod:'fix_size frameless', href:'#', text:'2', class:'pagination__link_next_this'})
        +button({mod:'fix_size frameless', href:'#', text:'3', class:'pagination__link_next2_this'})
        span(class='pagination__link_post_separator')='...'
        +button({mod:'fix_size frameless', href:'#', text:'20', class:'pagination__link_last'})
        +button({mod:'fix_size colored arrow_right', color:'secondary', href:'#', class:'pagination__link_right'})
      div(class='pagination__text')
        span(class='pagination__text_selection')=' – '
        span()=' из '
        span(class='pagination__text_population')=' вариант'
        span()=' аренды'
