include ../../components/button/button.pug
append styles
  link(rel="stylesheet", href="../../../components/pagination/pagination.scss")

append mixins
  mixin pagination(options)
    if !options
      - options = {}
    -
      var classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += options.mod ? ' pagination-' + options.mod : ''

    .pagination(class=classes)
      nav(class='pagination__links')
        +button({mod:'colored_secondary',arrow:'left',class:'pagination__link_left'})
        +button({mod:'frameless',class:'pagination__link_fierst'})
        span(class='pagination__link_pre_separator')='...'
        +button({mod:'frameless',class:'pagination__link_prew2_this'})
        +button({mod:'frameless',class:'pagination__link_prew_this'})
        +button({mod:'colored',class:'pagination__link_this'})
        +button({mod:'frameless',class:'pagination__link_next_this'})
        +button({mod:'frameless',class:'pagination__link_next2_this'})
        span(class='pagination__link_post_separator')='...'
        +button({mod:'frameless',class:'pagination__link_last'})
        +button({mod:'colored_secondary',arrow:'right',class:'pagination__link_right'})
      span(class='pagination__text')
        span(class='pagination__text_selection')='–'
        span()=' из '
        span(class='pagination__text_population')='+ вариант'
        span()=' аренды'
