extends ../../../pages/base/base.pug

include ../dropdown.pug

block header
block title
  title='test dropdown'
append main
  span='без параметров'
  br
  +dropdown()
  br
  br

  span='с пустым объектом'
  br
  +dropdown({})
  br
  br

  span='с пустым объектом'
  br
  +dropdown({})
  br
  br

  span='с пустым объектом'
  br
  +dropdown({})
  br
  br

  span='с пустым объектом'
  br
  +dropdown({})
  br
  br
