extends ../../../pages/base/base.pug

include ../pagination.pug

block header
block title
  title='test pagination'
append main
  span='без параметров'
  br
  +pagination()
  br
  br

  span='с пустым объектом'
  br
  +pagination({})
  br
  br

  span='с пустым объектом'
  br
  +pagination({})
  br
  br

  span='с пустым объектом'
  br
  +pagination({})
  br
  br

  span='с пустым объектом'
  br
  +pagination({})
  br
  br
