extends ../../../pages/base/base.pug

include ../datefield.pug

block header
block title
  title='test datefield'
append main
  span='без параметров'
  br
  +datefield()
  br
  br

  span='с пустым объектом'
  br
  +datefield({})
  br
  br

  span='с пустым объектом'
  br
  +datefield({})
  br
  br

  span='с пустым объектом'
  br
  +datefield({})
  br
  br

  span='с пустым объектом'
  br
  +datefield({})
  br
  br
