append styles
  link(rel="stylesheet", href="../../../components/button/button.scss")

append mixins
  mixin button_a (options)
    if !options
      - options = {}

    -
      var classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += ' button'
      classes += options.font_style ? ' ' + options.font_style : ' font-upper'

    if options.mod
      -classes += ' button-' + options.mod
      case options.mod
        when 'colored'
          -
            classes += ' color-contrast_with_colored'
            break
        when 'transparent'
          -
            classes += ' color-main'
            break
        when 'frameless'
          -
            classes += ' color-main'
            break
        default
          -
            classes += ' color-main'

    a(class=classes
      href= options.href ? options.href : 'УКАЖИ ССЫЛКУ'
      )
      span=options.row=='left'||options.row=='all' ? '<' : ''
      span=options.text ? options.text : 'УКАЖИ ПОДПИСЬ'
      span=options.row=='right'||options.row=='all' ? '>' : ''
