append styles
  link(rel="stylesheet", href="../../../components/button/button.scss")

append mixins
  mixin button__text(options)
    div(class=  'button__flex_container' +
                (options.mod=='transparent' ? ' button__border_creator' : ''))
      span(class='button__left_arrow')=options.arrow=='left'||options.arrow=='all' ? 'arrow_back' : ''
      span(class='button__text')=options.text ? options.text : options.arrow=='left'||options.arrow=='all'||options.arrow=='right' ? '' : 'УКАЖИ ПОДПИСЬ'
      span(class='button__right_arrow')=options.arrow=='right'||options.arrow=='all' ? 'arrow_forward' : ''

  mixin button (options)
    if !options
      - options = {}

    -
      var classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += ' button'
      classes += options.mod ? ' button-' + options.mod : ' button-colored'
      classes += options.type=='input'||options.type=='submit' ? ' button-input' : ''


    if options.type=='linck'|| !options.type
      a(class=classes
        href= options.href ? options.href : 'УКАЖИ ССЫЛКУ')
        +button__text(options)
    else if options.type=='input'
      input(value=options.text ? options.text : null
            type='button' class=classes)
    else if options.type=='submit'
      input(value=options.text ? options.text : null
            type='submit' class=classes)