extends ../../../pages/base/base.pug

include ../rate.pug

block header
block title
  title='test rate'
append main
  span='без параметров'
  br
  +rate()
  br
  br

  span='с пустым объектом'
  br
  +rate({})
  br
  br

  span='с пустым объектом'
  br
  +rate({})
  br
  br

  span='с пустым объектом'
  br
  +rate({})
  br
  br

  span='с пустым объектом'
  br
  +rate({})
  br
  br
