append styles
  link(rel='stylesheet', href='../../../components/container/container.scss')

append mixins
  mixin container(options = {}, items = [])
    -
      if (!options.items)
        options.items = [];
      items = options.items.concat(items);
      delete options.items;

      options.class = options.class ? `container ${options.class}` : `container `;
      const mod = options.mod ? options.mod.trim().split(/[,\s]\s*/) : [];
      options.class += options.mod ? ` container-${mod.join(` container-`)} ` : '';
      delete options.mod;
      options.class += options.block_class ? ` ${options.block_class} ` : '';
      const block_class = options.block_class ? `${options.block_class}` : `container`;
      delete options.block_class;
      const text = options.text ? options.text : '';
      delete options.text;
      const title = options.title ? `${options.title}` : '';
      delete options.title;
      const visible = options.visible ? true : false;
      delete options.visible;

      function blockLength(input){
        const open = '\\u003C'
        const close = '\\u003C'+'\\u002F'
        let begins = []
        let ends = []
        let count = 0
        for(let i = input.indexOf(open,0); i>=0; i = input.indexOf(open,i+1)){
          if (input.indexOf(close,i) != i)
            begins.push(i)
          else
            begins.pop();
          if (begins.length <= 0)
            count++;
        }
        if (count <= 0)
          count = input.split(');').length - 1;
        return count;
      }

      const tag = mod.includes('dropable') ? 'label' : 'div'

    #{tag}()&attributes(options)&attributes(attributes)
      if mod.includes('dropable')
        input.container__show_flag(type='checkbox', checked= visible ? true : false)
      if title || text
        .container__caption.font-upper
          if title
            span.container__title=title
          if text
            span.container__text=text
      if block
        if mod.includes('dropable')
          .container__block.container__block-dropable
            //- .container__absolute_box
            block
        else if (blockLength(block.toString()) > 1)
          .container__block
            block
        else
          block

