append styles
  link(rel="stylesheet", href="../../../components/like/like.scss")
append skripts__defer
  script(defer src="../../../components/like/like.js")

append mixins
  mixin like(options = {})
    -
      options.class = options.class ? `like ${options.class}` : `like `;
      const mod = options.mod ? options.mod.trim().split(/[,\s]\s*/) : [];
      options.class += options.mod ? ` like-${mod.join(` like-`)} ` : '';
      delete options.mod;
      options.class += options.block_class ? ` ${options.block_class} ` : '';
      const block_class = options.block_class ? `${options.block_class}` : `like`;
      delete options.block_class;
      const count = isFinite(Number(options.count)) ? Number(options.count) : 0;
      delete options.count;
      options.checked = options.checked && options.checked != 'false' ? true : false;
      options.name = options.name || block_class;
      const text = `${(Number(count) + (options.checked ? 1 : 0))}`;



    label('data-count'=count, class=options.class)&attributes(attributes)
      - delete options.class;
      input(class='like__input', type='checkbox')&attributes(options)
      .like__box
        .like__border_creator
          span(class='like__mark like__mark_unchecked material-icons-outlined ')='favorite_border'
          span(class='like__mark like__mark_checked material-icons-outlined ')='favorite'
          span(class='like__text')=text
