extends ../../../pages/base/base.pug

include ../radio.pug

block header
block title
  title='test radio'
append main
  span='без параметров'
  br
  +radio()
  br
  br

  span='с пустым объектом'
  br
  +radio({})
  br
  br

  span='с пустым объектом'
  br
  +radio({})
  br
  br

  span='с пустым объектом'
  br
  +radio({})
  br
  br

  span='с пустым объектом'
  br
  +radio({})
  br
  br
