append styles
  link(rel="stylesheet", href="../../../components/rate/rate.scss")

append mixins
  mixin rate(options)
    if !options
      - options = {}
    -
      let classes = ''
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += options.mod ? ' rate-' + options.mod : ''
      const rateCount = isFinite(options.count) ? options.count : 0

    span(class='rate rate__gradient_creator' + classes)
      -
        const max_rate = options.max_rate ? options.max_rate : 5
        const material = options.off_material ? '' : ' material-icons-outlined '

      label(class=material + ' rate__gradient_creator')
        input(class='rate__radio', name=(options.block_class ? options.block_class : 'NOTHING'),
              type='radio', value=0, checked=(0 == rateCount))
        span(class='rate__zero')=''

        mixin rate__generate(n,i=1)
          label(class='rate__gradient_creator')
            input(class='rate__radio', name=(options.block_class ? options.block_class : 'NOTHING'),
                  type='radio', value=i, checked=(i == rateCount))
            span(class=material + ' rate__star_b')='star_border'
            span(class=material + ' rate__star_f')='star'
            if i<n
              +rate__generate(n,i+1)
        +rate__generate(max_rate)