append styles
  link(rel="stylesheet", href="../../../components/rate/rate.scss")

append mixins
  mixin rate(options = {})
    -
      options.class = options.class ? `rate ${options.class}` : `rate `;
      const mod = options.mod ? options.mod.trim().split(/[,\s]\s*/) : [];
      options.class += options.mod ? ` rate-${mod.join(` rate-`)} ` : '';
      delete options.mod;
      // if (mod.includes('colored')) {};
      options.class += options.block_class ? ` ${options.block_class} ` : '';
      const block_class = options.block_class ? `${options.block_class}` : `rate`;
      delete options.block_class;
      const max_rate = isFinite(options.max_rate) ? options.max_rate : 5;
      delete options.max_rate;
      const count = isFinite(options.count) ? options.count : max_rate;
      delete options.count;
      const name = options.name || block_class || `NOTHING_${match.random()}`;
      delete options.name;


    span(class='rate__gradient_creator')&attributes(options)&attributes(attributes)
      label(class='material-icons-outlined rate__gradient_creator')
        input(class='rate__radio', name=name,
              type='radio', value=0, checked=Boolean(0 == count))
        span(class='rate__zero')=''

        mixin rate__generate(n,i=1)
          label(class='rate__gradient_creator')
            input(class='rate__radio', name=name,
                  type='radio', value=i, checked=Boolean(i == count))
            span(class='material-icons-outlined rate__star_b')='star_border'
            span(class='material-icons-outlined rate__star_f')='star'
            if i<n
              +rate__generate(n,i+1)
        +rate__generate(max_rate)