extends ../../../pages/base/base.pug

include ../checkbox.pug

block header
block title
  title='test checkbox'
append main
  span='без параметров'
  br
  +checkbox()
  br
  br

  span='с пустым объектом'
  br
  +checkbox({})
  br
  br

  span='с пустым объектом'
  br
  +checkbox({})
  br
  br

  span='с пустым объектом'
  br
  +checkbox({})
  br
  br

  span='с пустым объектом'
  br
  +checkbox({})
  br
  br
