include ../like/like.pug
include ../icon_text/icon_text.pug

append styles
  link(rel='stylesheet', href='../../../components/comment/comment.scss')
//- append skripts
//-   script(type='module', src='../../../components/comment/comment.ts')

append mixins
  mixin comment(options = {}, items = [])
    -
      if (!options.items)
        options.items = [];
      items = options.items.concat(items);
      delete options.items;

      options.class = options.class ? `comment ${options.class}` : `comment `;
      const mod = options.mod ? options.mod.trim().split(/[,\s]\s*/) : [];
      // if (mod.includes('dropable'))
      options.class += options.mod ? ` comment-${mod.join(` comment-`)} ` : '';
      delete options.mod;
      options.class += options.block_class ? ` ${options.block_class} ` : '';
      const block_class = options.block_class ? `${options.block_class}` : `comment`;
      delete options.block_class;
      const likes = isFinite(options.likes) ? options.likes : 0;
      delete options.likes;
      const checked = options.checked && (options.checked != 'false') ? true : false;
      delete options.checked;
      const src = options.src ? options.src : '';
      delete options.src;
      const text = options.text ? options.text : '';
      delete options.text;
      const autor_name = options.autor_name ? `${options.autor_name}` : '';
      delete options.autor_name;
      const recentness = options.recentness ? `${options.recentness}` : 'только что';
      delete options.recentness;

      function blockLength(block){
        const open = '\\u003C';
        const close = '\\u003C'+'\\u002F';
        let begins = [];
        let count = 0;
        for(let i = block.indexOf(open,0); i>=0; i = block.indexOf(open,i+1)){
          if (block.indexOf(close,i) != i)
            begins.push(i)
          else
            begins.pop();
          if (begins.length <= 0)
            count++;
        }
        if (count <= 0)
          count = block.split(');').length - 1;
        return count;
      }

    div()&attributes(options)&attributes(attributes)
      +icon_text({title:autor_name, text: recentness})
        img.comment__autor_avatar(src=src)
      .comment__major_content
        .comment__like
          +like({count: likes, checked: checked, block_class:'comment__like'})
        span.comment__text=text