include ../textfield/textfield.pug
include ../dropdown/dropdown.pug

append styles
  link(rel='stylesheet', href='../../../components/dropfield/dropfield.scss')
append skripts__defer
  script(type='module', src='../../../components/dropfield/dropfield.js')

append mixins
  mixin dropfield(options = {},items = [])
    -
      if (!options.items)
        options.items = [];
      items = options.items.concat(items);
      delete options.items;

      options.class = options.class ? `dropfield ${options.class}` : `dropfield `;
      const mod = options.mod ? options.mod.trim().split(/[,\s]\s*/) : [];
      options.class += options.mod ? ` dropfield-${mod.join(` dropfield-`)} ` : '';
      delete options.mod;
      options.class += options.block_class ? ` ${options.block_class} ` : '';
      const block_class = options.block_class ? `${options.block_class}` : `dropfield`;
      delete options.block_class;
      const text = options.text ? options.text : '';
      delete options.text;
      const title = options.title ? `${options.title}` : '';
      delete options.title;
      const visible = options.visible && options.visible == 'false' ? false : true;
      delete options.visible;
      buttons = options.buttons && options.buttons != 'false' ? true : false;
      delete options.buttons;

      const textfield_options = {
        mod: 'dropdown',
        type: 'text',
        block_class: 'dropfield__field',
      };
      if (options.placeholder)
        textfield_options.placeholder = options.placeholder;
      delete options.placeholder;

      const dropdown_options = {
        items: items,
        buttons: buttons,
        visible: visible,
        block_class: 'dropfield__drop',
      }

    form()&attributes(options)&attributes(attributes)
      +textfield(textfield_options)
      //- +dropdown(dropdown_options)
      .dropfield__hidebele_container
        +dropdown(dropdown_options)
