extends ../../../pages/base/base.pug

include ../like.pug

block header
block title
  title='test like'
append main
  span='без параметров'
  br
  +like()
  br
  br

  span='с пустым объектом'
  br
  +like({})
  br
  br

  span='с пустым объектом'
  br
  +like({})
  br
  br

  span='с пустым объектом'
  br
  +like({})
  br
  br

  span='с пустым объектом'
  br
  +like({})
  br
  br
