extends ../../../pages/base/base.pug

include ../toggle.pug

block header
block title
  title='test toggle'
append main
  span='без параметров'
  br
  +toggle()
  br
  br

  span='с пустым объектом'
  br
  +toggle({})
  br
  br

  span='с пустым объектом'
  br
  +toggle({})
  br
  br

  span='с пустым объектом'
  br
  +toggle({})
  br
  br

  span='с пустым объектом'
  br
  +toggle({})
  br
  br
