append styles
  link(rel="stylesheet", type="text/css", href="../../../components/text_field/datepicker__scss.scss")
  link(rel="stylesheet", type="text/css", href="../../../components/text_field/text_field.scss")

append skripts__defer
  script(defer src="../../../components/text_field/datepicker.js" type="text/javascript")
  script(defer src="../../../components/text_field/text_field.js" type="text/javascript")

//-  +text_field({
//-     block_class:'text_field-datepicker-settings',
//-     datepicker:{
//-       range:true,
//-       range_divided_fields:true,
//-       inline:false,
//-       field_free:false,
//-   }})

append mixins
  mixin text_field(options)
    if !options
      - options = {}

    -
      let classes = 'text_field '
      classes += options.block_class ? ' ' + options.block_class : ''
      classes += options.mod ? ' text_field-' + options.mod : ''

      const type = options.type && options.type!='date' ? options.type : 'text'

      let placeholder = ''
      if (options.placeholder) {
          placeholder = options.placeholder;
      } else if (options.datepicker) {
          placeholder = 'ДД.ММ.ГГГГ';
      } else switch (options.type) {
          case 'email':
          case 'Email':
            placeholder = 'Email';
            break;
          case 'date':
          case 'Date':
            placeholder = 'ДД.ММ.ГГГГ';
            break;
          case 'masked':
          case 'Masked':
            placeholder = options.placeholder ? options.placeholder : 'SET placeholder';
            break;

          default:
            placeholder = '';
      }

      const alt_class = 'datepicker-alt';
      var attributes = {}; //- работает тлоько с var хз почему
      if (options.datepicker){
        attributes.type = type;
        attributes.placeholder = placeholder;
        const d = options.datepicker;
        // range == false => range_divided_fields == false
        d.range_divided_fields = ((d.range && d.range != 'false') && d.range_divided_fields)
        // ( inline === 'false' OR range_divided_fields == true ) => field_free == false
        d.field_free = ((d.inline != 'false' || d.inline === false) && d.field_free)
        d.field_free = (!(d.range_divided_fields && d.range_divided_fields != 'false') && d.field_free)

        if (d.range && d.range != 'false') {attributes['data-range'] = true}
        if (d.range_divided_fields && d.range_divided_fields != 'false') {
            attributes['data-position'] = 'bottom right';
            attributes['data-range-divided-fields'] = true;
            attributes['data-alt-field'] = `.${options.block_class} > .${alt_class}`;

            attributes['class'] = 'datepicker-here';
          } else { // именно от range_divided_fields зависит у кого будет основной набор классов
            attributes['class'] = `${classes} datepicker-here`;
          }
        if (d.inline && d.inline != 'false') {attributes['data-inline'] = true}
        if (d.field_free) {attributes['data-inline'] = true}
      } else {
        attributes.class = classes;
        attributes.type = type;
        attributes.placeholder = placeholder;
      }

    if options.datepicker
      if options.datepicker.field_free
        div.text_field__input()&attributes(attributes)
      else if !options.datepicker.range_divided_fields
        input.text_field__input()&attributes(attributes)
      else
        div.text_field-divided_date(class=classes)
          input.text_field__input(class=alt_class, placeholder=placeholder)
          input.text_field__input()&attributes(attributes)
    else
      input.text_field__input()&attributes(attributes)
