append styles
  link(rel="stylesheet", type="text/css", href="../../../components/textfield/textfield.scss")

append mixins
  mixin textfield(options)
    -
      if (!options)
        options = {}
    -
      options.class = options.class ? options.class : '';
      options.class += ` textfield `;
      options.class += options.block_class ? ` ${options.block_class} ` : '';
      const block_class = options.block_class ? ` ${options.block_class} ` : '';
      delete options.block_class;
      options.class += options.mod ? ` textfield-${options.mod} ` : '';
      if (!options.placeholder && (options.mod == 'masked' || options.mod == 'Masked'))
        options.placeholder = 'SET placeholder';
      delete options.mod;
      const arrow = options.arrow ? ` ${options.arrow} ` : '';
      if (arrow) options.class += ` textfield-hover`;
      delete options.arrow;

      if (!options.placeholder) {
        switch (options.type) {
          case 'email':
          case 'Email':
            options.placeholder = 'Email';
            break;
          case 'date':
          case 'Date':
            options.placeholder = 'ДД.ММ.ГГГГ';
            break;
        }
      }
      if (!options.type || options.type == 'masked' || options.type == 'Masked')
        options.type = 'text';

    if !arrow
      input()&attributes(options)
    else
      div(class = 'textfield__container_for_arrow')
        input()&attributes(options)
        span(class = 'textfield__arrow material-icons-outlined')='keyboard_arrow_down'
