extends ../../../pages/base/base.pug

include ../textfield.pug

block header
block title
  title='test textfield'
append main
  span='без параметров'
  br
  +textfield()
  br
  br

  span='без параметров'
  br
  +textfield()
  br
  br

  span='без параметров'
  br
  +textfield()
  br
  br

  span='без параметров'
  br
  +textfield()
  br
  br

  span='без параметров'
  br
  +textfield()
  br
  br

  span='без параметров'
  br
  +textfield()
  br
  br

  span='без параметров'
  br
  +textfield()
  br
  br

  span='без параметров'
  br
  +textfield()
  br
  br

  span='без параметров'
  br
  +textfield()
  br
  br

  span='без параметров'
  br
  +textfield()
  br
  br

  span='без параметров'
  br
  +textfield()
  br
  br

  span='без параметров'
  br
  +textfield()
  br
  br

  span='без параметров'
  br
  +textfield()
  br
  br

  span='без параметров'
  br
  +textfield()
  br
  br

  span='без параметров'
  br
  +textfield()
  br
  br
