extends ../../../pages/base/base.pug

include ../textfield.pug

block header
block title
  title='test textfield'
append main
  span='без параметров'
  br
  +textfield()
  br
  br

  span='с пустым объектом'
  br
  +textfield({})
  br
  br

  span='masked not placeholder'
  br
  +textfield({mod: 'masked'})
  br
  br

  span='placeholder : asd'
  br
  +textfield({placeholder: 'asd'})
  br
  br

  span='masked placeholder : asd'
  br
  +textfield({mod: 'masked', placeholder: 'asd'})
  br
  br

  span='long placeholder'
  br
  +textfield({placeholder: 'asdilusdghlksdjfhlivuyp;dsloifhlsgliuyfvi duyfaiuhdl ol dslauy lfkjagluiysd;oiyfa pusgdl;hksdl phhk sdlyuf lpiuysdk jha h'})
  br
  br

  span='type: email'
  br
  +textfield({type: 'email'})
  br
  br

  span='type: Email'
  br
  +textfield({type: 'Email'})
  br
  br

  span='type: date'
  br
  +textfield({type: 'date'})
  br
  br

  span='type: Date'
  br
  +textfield({type: 'Date'})
  br
  br

  span='type: DATE'
  br
  +textfield({type: 'DATE'})
  br
  br

  span="type not correct"
  br
  +textfield({type: 'vdflsouhlkdfbhv'})
  br
  br

  span="placeholder: 'asd', type: 'date'"
  br
  +textfield({placeholder: 'asd', type: 'date'})
  br
  br

  span="placeholder: 'asd', type: 'email'"
  br
  +textfield({placeholder: 'asd', type: 'email'})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br

  span="с пустым объектом"
  br
  +textfield({})
  br
  br
