extends ../../../pages/base/base.pug

include ../button.pug

block header
block title
  title='test button'
append main
  span='без параметров'
  br
  +button()
  br
  br

  span='с пустым объектом'
  br
  +button({})
  br
  br

  span='с пустым объектом'
  br
  +button({})
  br
  br

  span='с пустым объектом'
  br
  +button({})
  br
  br

  span='с пустым объектом'
  br
  +button({})
  br
  br
