append styles
  link(rel="stylesheet", href="../../../components/toggle/toggle.scss")

append mixins
  mixin toggle(options = {})
    -
      options.class = options.class ? `toggle ${options.class}` : `toggle `;
      const mod = options.mod ? options.mod.trim().split(/[,\s]\s*/) : [];
      options.class += options.mod ? ` toggle-${mod.join(` toggle-`)} ` : '';
      delete options.mod;
      options.class += options.block_class ? ` ${options.block_class} ` : '';
      const block_class = options.block_class ? `${options.block_class}` : `toggle`;
      delete options.block_class;
      const text = options.text ? options.text : '';
      delete options.text;
      const title = options.title ? `${options.title}` : '';
      delete options.title;
      options.checked = options.checked && options.checked != 'false' ? true : false;
      options.name = options.name || block_class;

    label(class = options.class)&attributes(attributes)
      - delete options.class;
      input(class='toggle__input',type='checkbox')&attributes(options)
      //-нужно т.к. точка с градиентом
      .toggle__box
        .toggle__mark
      span(class='toggle__text')=text